/* ArcGIS's light theme for their map */
@import "https://js.arcgis.com/4.29/@arcgis/core/assets/esri/themes/light/main.css";

html,
body,
arcgis-map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

calcite-icon.esri-layer-list__item-content {
    padding: 100px;
}